*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(75, 75, 75);
}

h1{ font-size: 3.5em; color: #fff;}
h2{ font-size: 2.8em; color: #fff;}
h3{ font-size: 2em; color: #fff;}
p{ font-size: 1.2em; color: #fff;}
ul{ list-style: none; color: #fff;}
li{ font-size: 1.25em; color: #fff;}

.navigation{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(26, 26, 26);
    
}

header .logo{
    margin: 0; 
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(232, 232, 232);
    font-size: 1.6em;
}

header .navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(232, 232, 232);
}

header a:hover{
    color: rgb(216, 216, 26);
}

/*Pelicula Principal*/

.pelicula-principal {
    min-height: 40.62em;
    margin-bottom: 3.12em;
    background-image: 
    radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/peliculaprincipal.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: end;
    color: rgb(232, 232, 232);
}

.pelicula-principal-title {
    font-weight: 600;
	margin-bottom: 0.4em;
}

.pelicula-principal-description {
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal-boton {
    background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal-boton:hover {
    
    background-color: rgb(75, 75, 75);
}

/*Peliculas de la Semana*/

.peliculas-semana {
    max-width: 1800px;
    margin: auto;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}




/*Footer*/
footer {
    background-color: rgb(26, 26, 26);
}

footer p{
    margin: 0;
    padding: 20px;
    text-align: center;
    color: rgb(232, 232, 232);
}

@media (min-width: 750px){
    header{
        position: fixed;
        width: 100%;
    }

    header .navigation{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}